<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="eos-common" value="https://pkgs.dev.azure.com/mamsoftglobal/_packaging/eos-common/nuget/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>